<% include layout.ejs -%>

<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="EditUser" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUser">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="WarningLabel" style="color: red;display: none;">Please Fill All The Fields</label>
                <form method="POST" action="" id="CreateProductForm">
                    <div class="form-group">
                        <input type="name" class="form-control" id="UserName" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <input type="name" class="form-control" id="EmailId" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="Paswd" placeholder="Enter Password">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="CloseModal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="ChangeStatus">Disable</button>
                <button type="button" class="btn btn-primary" id="SubmitData">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="tbodyUsers">

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        AsyncFetchList();

        var html = $(html);
        var DeleteBtn = html.find("#DeleteUser");
        console.log(DeleteBtn);
        $(DeleteBtn).click(function (e) {
            var txt = $(e.target).text();
            alert(txt);
        });
        var status, email, name;
        function EditUserBtnClick() {
            var obj = $('html');
            status = obj.find('#tbodyUsers > tr > td:nth-child(5)').text();
            email = obj.find('#tbodyUsers > tr > td:nth-child(3)').text();
            name = obj.find('#tbodyUsers > tr > td:nth-child(2)').text();

            $('#UserName').val(name);
            $('#EmailId').val(email);
            if (status == "Inactive") {
                $('#ChangeStatus').removeClass("btn-danger");
                $('#ChangeStatus').addClass("btn-success");
                $('#ChangeStatus').text("Enable");
            } else {
                $('#ChangeStatus').removeClass("btn-success");
                $('#ChangeStatus').addClass("btn-danger");
                $('#ChangeStatus').text("Disable");
            }
        }


    });

    function DeleteUserPress(name, email) {
        alert(name + email);
        $.ajax({
            type: "POST",
            url: '/admin/DeleteUser',
            data: {
                'name': name,
                'email': email,
            },
            dataType: 'json'
        }).done(
            function (data) {
                ReSetTable(data);
            }
        );
        // ev.preventDefault();
        // alert($(this).closest('tr').find("td:nth-child(2)").text());

        // alert($(this).closest("tr").val());
        // $('#ChangeStatus').click(function () {
        //     $.ajax({
        //         type: "POST",
        //         url: '/admin/DeleteUser',
        //         data: {
        //             'name': $(this).closest("tr").find("td:nth-child(2)"),
        //             'email': $(this).closest("tr").find("td:nth-child(3)"),
        //         },
        //         dataType: 'json'
        //     }).done(
        //         function (data) {
        //             ReSetTable(data);
        //         }
        //     );
        //     $('#CloseModal').click();
        // });
    }
    function ReSetTable(obj) {
        for (var i = document.getElementById("tbodyUsers").rows.length; i > 0; i--) {
            document.getElementById("tbodyUsers").deleteRow(i - 1);
        }

        var tbody = $('#tbodyUsers');
        for (var i = 0; i < obj.length; i++) {
            var values = [obj[i].name,obj[i].email] ;
            var markup = "<tr><td>" + (i + 1) + "</td><td>" + obj[i].name + "</td><td>" + obj[i].email + "</td><td>" + obj[i].password + "</td><td>" + obj[i].status + "</td><td><button type='button' onclick='EditUserBtnClick()' class='btn btn-primary' id='OpenEditUser' data-toggle='modal' data-target='#EditUserModal'>Edit</button></td><td><button type='button' class='btn btn-danger' id=`DeleteUser${i}` onclick=''>Delete</button></td></tr>";
         
            $("#tbodyUsers").append(markup);
        }
    }
    function AsyncFetchList() {
        $.ajax({
            type: "POST",
            url: '/admin/FetchUsers',
            dataType: 'json'
        }).done(function (data) {
            ReSetTable(data);
        })

    }

    $('#SubmitData').click(function () {
        $.ajax({
            type: "POST",
            url: '/admin/EditUser',
            data: {
                'Oldname': name,
                'Oldemail': email,
                'Newname': $('#UserName').val(),
                'Newemail': $('#EmailId').val(),
                'Newpassword': $('#Paswd').val(),
            },
            dataType: 'json'
        }).done(
            function (data) {
                ReSetTable(data);
            }
        );
        $('#CloseModal').click();
    });

    $('#ChangeStatus').click(function () {
        $.ajax({
            type: "POST",
            url: '/admin/EditStatus',
            data: {
                'name': name,
                'email': email,
                'status': status
            },
            dataType: 'json'
        }).done(
            function (data) {
                ReSetTable(data);
            }
        );
        $('#CloseModal').click();
    });


</script>
