<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="cache-control" content="private, max-age=0, no-cache">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link rel="icon" type="image/png" href="favicon.png" />
  <!-- <link rel="stylesheet" href="../../../public/styles/main.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" />
  <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">

  <title>NodeJs App</title>
</head>

<body>
  <div class="modal fade" id="CreditAddModal" tabindex="-1" role="dialog" aria-labelledby="CreditAddModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CreditAddModalLabel">Add Credits</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rs.</div>
              </div>
              <input type="name" class="form-control" id="txtCredit" placeholder="Enter Credit Amount">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id='closeCreditModal'>Close</button>
          <button type="button" id="btnAddCredit" class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
        <button type="button" id="creditBtn" class="btn btn-success" style="margin-right: 12px;border-radius: 18px;"
          data-toggle="modal" data-target="#CreditAddModal">
          Credits <span class="badge badge-light" style="border-radius: 2px"
            id=spnAmount><%=UserObj.credits.amount%></span>
        </button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-radius: 18px;">Log Out</button>
      </form>
    </div>
  </nav>

  <style>
    /* #creditBtn:hover{
      tex
    } */
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    // $('#creditBtn').mouseenter(function(){
    //   $(this).text("Add Credit");
    // })
    // $("#creditBtn").delay(200).animate({

    // },500);
    $('#btnAddCredit').click(function () {
      $.ajax({
        type: "POST",
        url: '/users/AddCredits',
        data: {
          'NewAmount': $('#txtCredit').val()
        },
        dataType: 'json'
      }).done(function (data) {
        $('#spnAmount').text(data.amount + "₹");
        $('#closeCreditModal').click();
        $('#txtCredit').val('');
      }).fail(function (data) {
        alert('fail');
      });
    });
    function RefreshCreditBtn() {

    }
  </script>
</body>

</html>